{:env
 #profile {:prod :prod
           :dev :dev}

 :jetty {:port #or [#env PORT 3000]
         :join? #profile {:prod true
                          :dev false}}

 :db {:classname "org.postgresql.Driver"
      :subprotocol "postgresql"
      :dbtype "postgresql"
      :host "db"
      :port 5432
      :dbname "postgres"
      :user #or [#env DB_USER "postgres"]
      :password #or [#env DB_PASSWORD "12345"]}
 :db-pool {:min-pool-size 3
           :max-pool-size 10}

 :migratus {:store :database
            :migration-dir "migrations/"
            :migration-table-name "migrations"}}
